SECRET_KEY=-l@e$l6*(su!q7r@5cp3z*=f*7x!is4vx%6grstq6(7mexnyq+
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1, *

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=GrowUp <noreply@growup.dev>
CONTACT_EMAIL=hello@growup.dev
